@font-face {
    font-family: "CaviarDreamsRegular";
    src: url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.eot");
    src: url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.woff") format("woff"), url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
a {
    font-family: 'CaviarDreamsRegular', cursive;
}

body {
    font-family: 'CaviarDreamsRegular', cursive;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}


/******************************
*HEADER*
******************************/

.main-header {
    padding-top: 10px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background: #666;
    background: rgba(0, 0, 0, .3);
}

.menu-scrolled {
    background: #fff;
    color: #000;
}

.wrapper {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    font-size: 22px;
}

.wrapper::after {
    content: ' ';
    display: block;
    clear: both;
}

.logo-container {
    float: left;
    width: 10%;
}

.slider .scroll-btn,
.top-logo img {
    border: 0;
}

.main-nav {
    float: left;
    width: 45%;
    margin-right: 5%;
    padding: 16px 0;
    color: #fff;
}

.menu,
.sub-menu {
    text-align: center;
    list-style: none;
    padding: 0;
}

.sub-menu {
    width: 100%;
    background: #fff;
    font-size: .8em;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}

.sub-menu-item {
    color: #666;
    border-bottom: 1px solid #D2D7D3;
    cursor: pointer;
    padding: 4%;
}

.sub-menu-item:hover {
    color: #B8B89F;
}

.menu-item:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background: #96281B;
    opacity: .3;
    -ms-transform: scaleX(0.0001);
    transform: scaleX(0.0001);
    transition: all .2s ease-in;
}

.menu-item:hover:after {
    opacity: 1;
    -ms-transform: scaleX(0.0001);
    transform: scaleX(1);
}

.menu-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 1%;
    padding: 0 1%;
    position: relative;
    width: 27.3333%;
    cursor: pointer;
}

.menu-item>a {
    font-weight: 500;
    position: relative;
}

.menu-item:hover>* {
    display: block;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
}

.login-container {
    float: right;
    width: 25%;
}

.inline-btn {
    display: inline-block;
    padding: 15px 35px;
    line-height: 1.3;
    appearance: none;
    box-shadow: none;
    cursor: pointer;
}

.inline-btn:focus {
    outline: none;
}

.login-btn {
    float: right;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border: solid 1px #fff;
    font-size: 18px;
}

.login-btn:hover {
    opacity: .7;
}

.login-btn:active {
    margin-top: 2px;
}

.login-btn-scrolled {
    border-color: #B8B89F;
    color: #B8B89F;
}

.login-btn:first-child {
    margin-right: 5%;
}

.site-search {
    padding: 15px 0;
    position: relative;
    float: left;
    width: 15%;
    height: 28px;
}

.site-search .search-icon {
    text-align: center;
    width: 40px;
    height: 28px;
    position: absolute;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

.site-search .search {
    position: absolute;
    background: transparent;
    color: #fff;
    width: 0;
    outline: 0;
    border: 0;
    height: 28px;
    right: 40px;
    text-align: center;
    font-size: 16px;
    transition: width .3s;
}

.site-search .search-scrolled {
    color: #000;
}

.active-icon {
    border: 1px solid #ccc;
    border-left: 0;
}

.site-search .active-search {
    width: 100%;
    border: 1px solid #ccc;
    border-right: 0;
}

.rg-input::-webkit-input-placeholder,
.search::-webkit-input-placeholder {
    color: #fff;
}

.search-scrolled::-webkit-input-placeholder {
    color: #B8B89F;
}

.rg-input::-moz-placeholder,
.search::-moz-placeholder {
    color: #fff;
}

.search-scrolled::-moz-placeholder {
    color: #B8B89F;
}

.rg-input:-ms-input-placeholder,
.search:-ms-input-placeholder {
    color: #fff;
}

.search-scrolled:-ms-input-placeholder {
    color: #B8B89F;
}

.rg-input:-moz-placeholder,
.search:-moz-placeholder {
    color: #fff;
}

.search-scrolled:-moz-placeholder {
    color: #B8B89F;
}

.site-search .flaticon-search {
    color: #fff;
}

.site-search .search-icon-scrolled {
    color: #B8B89F;
}

.site-search [class*="flaticon-"]:before {
    margin: 0;
}

.site-search [class*="flaticon-"]:hover:before {
    opacity: .7;
}

.placeholder-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4%;
    cursor: text;
}

.relative {
    position: relative;
}

.invisible {
    display: none;
}


/******************************
*FOOTER*
******************************/

hr.zigzag {
    width: 100%;
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

.main-footer {
    color: #B8B89F;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.copyright {
    width: 20%;
    margin-right: 20%;
    float: left;
    padding: 9px 0;
}

.message-buttons {
    width: 20%;
    margin-right: 20%;
    float: left;
}

.social-buttons {
    width: 20%;
    float: right;
}

.message-buttons>a,
.social-buttons>a {
    text-decoration: none;
}

.message-buttons>a:visited,
.social-buttons>a:visited {
    color: inherit;
}

.main-footer [class*="flaticon-"]:before {
    cursor: pointer;
    font-size: 40px;
}

[class*="flaticon-"]:hover:before {
    color: #000;
}

.message-buttons [class*="flaticon-"]:hover:before {
    color: #3498DB;
}

.tags {
    margin-bottom: 1em;
}

.tags:after {
    content: ' ';
    display: block;
    clear: both;
}

.tag-container {
    float: left;
    border-radius: 20px;
    padding: .1% 2%;
    border: 1px solid #faebd7;
    margin: 2%;
}

.cross {
    width: 13px;
    height: 10px;
    position: relative;
    top: 2px;
    right: -4px;
    display: inline-block;
}

.cross:after,
.cross:before {
    display: block;
    position: absolute;
    content: " ";
    background: #fff;
    height: 2px;
    width: 10px;
    cursor: pointer;
}

.cross:before {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cross:after {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.upld-wrapper {
    background: #666;
    opacity: .9;
}

.file-input {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input+label {
    font-weight: bold;
    color: #fff;
    border: 1px solid #fff;
    padding: 2%;
    display: inline-block;
    cursor: pointer;
    margin-top: 10%;
}

.upld-form .flaticon-cloud-computing:before {
    margin: 0 10px 0;
}

.file-input+label:hover,
.upld-form [class*="flaticon-"]:hover:before {
    color: #fff;
    opacity: .7;
}